* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-right: 0.4px;
}

.leaderboard {
  max-width: 50rem;
  margin: 5rem auto;
  border-radius: 1rem;
  box-shadow: 2px 2px 16px 1px #aaa;
  text-align: right;
  border: 2px solid #000000;
  height: 47rem;
}

#liveLeaderboard {
  height: 60%;
  width: 60%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  margin-bottom: 215px;
  margin-right: 170px;
}

#bracket {
  height: 1000px;
  width: 100%;
  position: sticky;
  bottom: 0;
  right: 0rem;
  margin-top: -240px;
  z-index: 1;
  margin-left: 0px;
}

#header {
  background-color: #0c85cc;
  position: relative;
  z-index: -1;
}

#timer {
  font-size: 35px;
  color: black;
  margin-right: 280px;
  margin-top: -60px;
  padding-top: 10px;
  position: static;
  z-index: 3;
  text-shadow: 0 0 3px #ee5b25, 0 0 5px #ee5b25;
}

#searchButton {
  margin-top: -55px;
  margin-left: -155px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 150px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 3;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #ffffff;
  color: #555;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 22rem;
  position: relative;
  z-index: -1;
}

h1 {
  font-size: 3rem;
  line-height: 5rem;
  position: absolute;
  margin-left: 200px;
  margin-top: 105px;
  top: 10rem;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  letter-spacing: 1px;
}

img {
  height: 270px;
  width: 250px;
  position: static;
  bottom: 0;
  right: 0rem;
  margin-right: 43%;
}

#voteButton {
  margin-top: 62px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#voteButton2 {
  margin-top: 112px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#voteButton3 {
  margin-top: 161px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#voteButton4 {
  margin-top: 210px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#voteButton5 {
  margin-top: 258px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#voteButton6 {
  margin-top: 306px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#voteButton7 {
  margin-top: 354px;
  margin-left: -120px;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #ee5b25;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  background: linear-gradient(to bottom, transparent, transparent 10%, rgba(22, 22, 22, 0.5));
}

nav a {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: inline-block;
  font-weight: bold;
}

nav a.active {
  border-bottom: 4px solid #f0a900;
}

nav a:first-child {
  margin-left: 3rem;
}

nav a + a {
  margin-left: 1rem;
}

table {
  background-color: #5ed4fc;
  color: #555;
  width: 100%;
  border-collapse: collapse;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  text-shadow: 0 0 0.8px #5ed4fc, 0 0 0.5px #000000;
}

thead {
  font-size: 1rem;
  color: #555;
  text-transform: uppercase;
  text-shadow: 0 0 0.8px #5ed4fc, 0 0 0.5px #000000;
}

tbody .name {
  color: #555;
  font-weight: bold;
  font-size: 0.9rem;
}

tbody tr:nth-child(2n) {
  background-color: #cbc2c2;
}

.name {
  text-align: left;
  border: 2px solid #000000;
}

.rank,
.tv,
.vb {
  text-align: right;
}

.rank {
  width: 4ch;
  padding-left: 1rem;
  border: 2px solid #000000;
}

.tv,
.vb {
  width: 8ch;
  border: 2px solid #000000;
}

.vote {
  width: 15ch;
  border: 2px solid #000000;
  text-align: center;
}

th {
  padding: 1.5rem 1rem 0.5rem;
}

td {
  padding: 1rem 1rem;
}

th.name {
  height: 40px;
  font-size: 1rem;
  background-color: #a6a6a6;
}

th.rank {
  height: 40px;
  font-size: 1rem;
  background-color: #a6a6a6;
}

th.tv {
  height: 40px;
  font-size: 0.8rem;
  background-color: #a6a6a6;
}

th.vb {
  height: 40px;
  font-size: 0.8rem;
  background-color: #a6a6a6;
}
