* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaderboard {
  max-width: 50rem;
  margin: 5rem auto;
  border-radius: 1rem;
  box-shadow: 2px 2px 16px 1px #aaa;
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #ffffff;
  color: #555;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 14rem;
  position: relative;
}

h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  position: absolute;
  margin-left: 1rem;
  top: 10rem;
  color: #000;
  text-shadow: 0 0 3px #5ed4fc, 0 0 5px #000000;
}

img {
  height: 14rem;
  width: 14rem;
  position: initial;
  bottom: 0;
  right: 1rem;
}

nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  background: linear-gradient(to bottom, transparent, transparent 10%, rgba(22, 22, 22, 0.5));
}

nav a {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: inline-block;
  font-weight: bold;
}

nav a.active {
  border-bottom: 4px solid #f0a900;
}

nav a:first-child {
  margin-left: 3rem;
}

nav a + a {
  margin-left: 1rem;
}

table {
  background-color: #cbc2c2;
  color: #555;
  width: 100%;
  border-collapse: collapse;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  text-shadow: 0 0 0.8px #5ed4fc, 0 0 0.5px #000000;
}

thead {
  font-size: 1rem;
  color: #555;
  text-transform: uppercase;
  text-shadow: 0 0 0.8px #5ed4fc, 0 0 0.5px #000000;
}

tbody .name {
  color: #555;
  font-weight: bold;
  font-size: 0.9rem;
}

tbody tr:nth-child(2n) {
  background-color: #5ed4fc;
}

.name {
  text-align: left;
}

.rank,
.tv,
.vb {
  text-align: right;
}

.rank {
  width: 4ch;
  padding-left: 1rem;
}

.tv,
.vb {
  width: 8ch;
}

th {
  padding: 1.5rem 1rem 0.5rem;
}

td {
  padding: 1rem 1rem;
}
