* {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", bold;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  letter-spacing: -6px;
  color: #ffffff;
  text-shadow: 0 0 10px #5ed4fc, 0 0 10px #5ed4fc;
}

#qualify {
  border: 4px solid black;
  background-color: #5ed4fc;
  color: red;
  width: 150px;
  margin-left: 172px;
  padding-top: 7px;
  margin-top: 10px;
}

#timer {
  color: greenyellow;
  font-size: 40px;
  letter-spacing: 0.5px;
  margin-top: 30px;
}

h2 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: -2px;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
}

#vb {
  margin-top: 350px;
}

h3 {
  font-weight: 700;
  font-size: 4.4em;
  letter-spacing: -2px;
  margin-top: 25px;
  text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}

h4 {
  font-weight: 700;
  font-size: 5em;
  letter-spacing: -6px;
  color: #ffffff;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}

p {
  margin-top: 20px;
}

span {
  color: #5ed4fc;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}

[data-ribbon] {
  position: relative;
  display: inline-block;

  background: #ee5b25;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

[data-ribbon]:after {
  content: attr(data-ribbon);
  position: absolute;
  text-align: center;
  line-break: 28px;
  line-height: 12px;
  top: 10px;
  margin-top: -60px;
  margin-left: 64.5px;
  height: 0;
  border-bottom: 25px solid #ee5b25;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
  margin-right: -180px;
  width: 60px;
  padding-top: 29px;
}

[data-ribbon2] {
  position: relative;
  display: inline-block;

  background: #ee5b25;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

[data-ribbon2]:after {
  content: attr(data-ribbon2);
  position: absolute;
  text-align: center;
  line-height: 28px;
  top: 10px;
  margin-top: -60px;
  margin-left: 69px;
  height: 0;
  border-bottom: 25px solid #ee5b25;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
  margin-right: -180px;
  width: 60px;
  padding-top: 29px;
}

#wBox {
  border: 8px solid #5ed4fc;
  width: 465px;
  height: 120px;
  padding: 10px;
  margin-top: 230px;
  background-image: url(bgwp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#gpBox {
  border: 8px solid #5ed4fc;
  width: 465px;
  height: 100px;
  padding: 10px;
  margin-top: -8px;
  background-color: lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#ll2 {
  width: 100%;
  margin-top: -300px;
}

#ua {
  width: 100%;
  margin-top: -850px;
}

#bracketImage {
  width: 100%;
  margin-top: -650px;
}

#content {
  width: 500px;
  height: 1020px;
  margin: 10% auto;
  margin-top: 50px;
  border: 1px dotted black;
  text-align: center;
  font-family: "League Spartan", bold;
  font-weight: 700;
  border: 5px solid black;
  padding-top: 25px;
  background-image: url(bbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#content2 {
  width: 200px;
  height: 80px;
  margin: 10% auto;
  margin-top: 20px;
  text-align: center;
  font-family: "League Spartan", bold;
  font-weight: 700;
  border: 8px solid #5ed4fc;
  padding-top: 25px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

#content4 {
  width: 500px;
  height: 1100px;
  margin: 10% auto;
  margin-top: -122px;
  border: 1px dotted black;
  text-align: center;
  font-family: "League Spartan", bold;
  font-weight: 700;
  border: 5px solid black;
  padding-top: 25px;
  background-image: url(bgwp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-group button {
  margin-top: 30px;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 0px;
  width: 166px;
  height: 120px;
  font-size: 1.5em;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
  float: left;
}

.btn-group p {
  font-size: 0.5em;
}

#pbfb {
  margin-bottom: -50px;
  margin-top: -190px;
  margin-left: 60px;
}

#yt {
  margin-bottom: -135px;
  margin-left: -325px;
}

#spotify {
  margin-bottom: -110px;
  margin-right: -1px;
}

#ig {
  margin-bottom: -95px;
  margin-right: -325px;
}

#phresher {
  margin-bottom: -50px;
  margin-top: -50px;
  margin-left: -151px;
  border: 8px solid #5ed4fc;
}

#shaq {
  border: 8px solid #5ed4fc;
  margin-top: -8px;
}

#twitch {
  margin-top: 20px;
}

#opf p {
  font-size: 1em;
}

#other p {
  font-size: 1.5em;
}
