* {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", bold;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  letter-spacing: -6px;
}

h2 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: -2px;
  padding-top: 10px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: -2px;
  padding-top: 10px;
  margin-left: -50%;
}

h4 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: -2px;
  padding-top: 10px;
  margin-right: -50%;
  margin-top: -109px;
}

#content {
  width: 500px;
  margin: 10% auto;
  margin-top: 50px;
  border: 1px dotted black;
  text-align: center;
  font-family: "League Spartan", bold;
  font-weight: 700;
  border: 5px solid black;
  padding-top: 25px;
  background-image: url(bgwp.png);
  background-size: 75%;
}

#content2 {
  width: 200px;
  height: 80px;
  margin: 10% auto;
  margin-top: 20px;
  text-align: center;
  font-family: "League Spartan", bold;
  font-weight: 700;
  border: 8px solid #5ed4fc;
  padding-top: 25px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

#content3 {
  height: fit-content;
  width: fit-content;
  border: 1px solid #ffffff;
  display: inline-block;
  font-size: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
}

#inputBox {
  margin: 20px;
  padding: 10px;
  width: 400px;
  margin-top: 5px;
  border: 8px solid #5ed4fc;
  background-color: rgb(203, 203, 203);
}

#inputBox2 {
  margin: 20px;
  padding: 10px;
  width: 175px;
  margin-top: 5px;
  border: 8px solid #5ed4fc;
  background-color: rgb(203, 203, 203);
  margin-left: -41%;
}

#inputBox3 {
  margin: 20px;
  padding: 10px;
  width: 175px;
  margin-top: 5px;
  border: 8px solid #5ed4fc;
  background-color: rgb(203, 203, 203);
  margin-right: -41%;
}

#inputBoxAM {
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 400px;
  margin-top: 5px;
  border: 8px solid #5ed4fc;
  background-color: rgb(203, 203, 203);
  text-align: justify left;
}

#nextButton {
  margin-top: 30px;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 0px;
  width: 150px;
  height: 60px;
  font-size: 50px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  margin-bottom: 120px;
  color: #ffffff;
  background-color: #5ed4fc;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
}

#createButton {
  margin-top: 30px;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 0px;
  width: 190px;
  height: 60px;
  font-size: 50px;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: center;
  margin-bottom: 120px;
  color: #ffffff;
  background-color: #5ed4fc;
  font-weight: 800;
  border: solid #ffffff;
  border-radius: 20px;
}

#pbfb {
  margin-bottom: -50px;
  margin-top: -190px;
  margin-left: 60px;
}

#pfp {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 0px;
  border: 8px solid #5ed4fc;
}
