* {
    background-color: rgb(58, 58, 58);
    font-family: "Comic Neue";
}

div {
    border: 5px solid;
    font-size: 35px;
    text-align: center;
    color: white;
    background-color: #59050a;
}

div > h1 > span {
    font-size: 25px;
    text-align: center;
    background-color: #59050a;
}

div > h1 > {
    font-size: 50px;
    text-align: center;
}

div > h2 {
    font-size: 70%;
}

div > h3 {
    font-size: 70%;
}

div > span {
    font-size: 50px;
    text-align: center;
    padding-left: 25%;
}

h1 {
    background-color: #59050a;
}

img {
    height: 30%;
    width: 30%;
    text-align: left;
    border: 2px solid white;
}