body {
    margin: 0;
    padding: 20px;
  }
  
  .container-one {
    border: 5px solid black;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
  }
  
  /* 
    Instead of giving .container-one display:flex,
    you could have given the shapes inside display: inline-block
  */
  
  .square-one {
    height: 145px;
    width: 45px;
    background-color: blueviolet;
  }
  
  .square-two {
    height: 190px;
    width: 390px;
    background-color: forestgreen;
    margin: 0 50px;
  }
  
  .circle-one {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: skyblue;
  }
  
  .container-two {
    border: 5px dotted black;
    padding: 45px;
    margin-top: 20px; 
    box-sizing: border-box;
  }
  
  .box-shadow {
    width: 100%;
    height: 195px;
    background-color: lemonchiffon;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .container-three {
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto; 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  }
  
  .container-three h1 {
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
  }