body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
	justify-content: center;
}

p {
	font-size: 18px;
}

h2 {
	font-size: 60px;
	text-align: center;
}

h3 {
	font-size: 19px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: solid orange;
}

#color {
	background-color: yellow;
	color: black;
	height: 50px;
	width: 155px;
}

#place {
	background-color: yellow;
	color: black;
	height: 50px;
	width: 155px;
}

#ritual {
	background-color: yellow;
	color: black;
	height: 50px;
	width: 155px;
}